# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Important Shit\University_Files\Masters\Maastricht\Year 1\Semester 1\Project\Code\Music-Score-Localization-2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
